<!DOCTYPE html>
<html lang="it">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<title>Update Movie</title>

	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- embedding FontAwesome Kit script -->
	<script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>
<body>
	<!-- ***** Header Area ***** -->
	<header class="header-area">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<nav class="main-nav">
						<!-- logo -->
						<a href="/" class="logo">
							<img src="/images/logo.png" alt="logo">
						</a>
						<!-- search bar -->
						<div class="search-input">
							<form id="search" action="#">
								<input type="text" placeholder="Type Something" id="searchText" name="searchKeyword">
								<i class="fa-solid fa-magnifying-glass"></i>
							</form>
						</div>
						<!-- menu bar -->
						<ul class="nav">
							<li>
								<a href="/">Home</a>
							</li>
							<li>
								<a href="/movie" class="active"> Film </a>
							</li>
							<li>
								<a href="/artist"> Artisti </a>
							</li>
							<li>
								<a href="#"> Recensioni </a>
							</li>
							<!-- login or go to profile logic --> <!--TODO: non funziona se loggato-->
							<li th:if="${userDetails}">
								<a href="/profile" th:text="${credentials.username}">Profilo <img src="/images/profile-header-unlock.svg" alt=""></a>
							</li>
							<li th:unless="${userDetails}">
								<a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
							</li>

						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header Area End -->

	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="page-content" th:if="${movie}">
					<h2>Aggiorna film</h2>
					<div class="row mt-5">
						<div class="col-lg-6">
							<img src="https://picsum.photos/200/300" alt="film_image"/>
						</div>
						<div class="col-lg-6">
							<div class="row my-4">
								<div class="col-12">
									<div class="film-title editable-text">
										<a th:text="${movie.title}"> titolo film </a>		<!-- TODO: usare i fragments per rimpiazzare codice html -->
									</div>
									<div class="mt-1 editable-text">
										<a th:text="'(' + ${movie.year} + ')'">anno</a> 	<!-- TODO: usare i fragments per rimpiazzare codice html -->
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-12">
									<h4 class="film-artist">Regista:</h4>
									<div th:if="${movie.director}">
										<a th:href="@{'/artist/' + ${movie.director.id}}" th:text="${movie.director.name} + ' ' + ${movie.director.surname}">regista</a>
										<a th:href="@{'/admin/removeDirector/' + ${movie.id}}">
											<i class="fa-solid fa-xmark" style="color: darkred"></i>
										</a>
									</div>
									<div class="dropdown my-2">
										<button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
											Aggiungi regista
										</button>
										<ul class="dropdown-menu">
											<li th:each="artist : ${directorsList}"><a th:text="${artist.name} + ' ' + ${artist.surname}" class="dropdown-item" th:href="@{'/admin/setDirectorToMovie/' + ${artist.id} + '/' + ${movie.id}}">regista</a></li>
										</ul>
									</div>

									<h4 class="film-artist">Attori:</h4>
									<div>
										<div th:each="actor : ${movie.actors}">
											<a th:href="@{'/artist/' + ${actor.id}}" th:text="${actor.name} + ' ' + ${actor.surname}">attore</a>
											<a th:href="@{'/admin/removeActorFromMovie/' + ${actor.id} + '/' + ${movie.id}}">
												<i class="fa-solid fa-xmark" style="color: darkred"></i>
											</a>
										</div>
										<div class="dropdown my-2">
											<button type="button" class="btn btn-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
												Aggiungi Attori
											</button>
											<ul class="dropdown-menu">
												<li th:each="artist : ${actorsList}"><a th:text="${artist.name} + ' ' + ${artist.surname}" class="dropdown-item" th:href="@{'/admin/addActorToMovie/' + ${artist.id} + '/' + ${movie.id}}">attore</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="page-content" th:unless="${movie}">
					<!-- TODO: da rivedere... (non mi piace impaginazione) -->
					<div class="row">
						<div class="col-lg-12">
							<div class="row gy-5">
								<div class="col-12">
									<h2>Questo film non esiste...</h2>
								</div>
								<div class="col-12 d-flex justify-content-center">
									<img class="notFound" src="/images/jeffrey_lebowski.gif" alt="nofilmhere"/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						Copyright © 2023
						<a href="www.github.com/hermann0001">Hermann Tamilia</a>
					</p>
				</div>
			</div>
		</div>
	</footer>

	<!-- Bootstrap js -->
	<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>