<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<title>SiwMovie - Gestione Film</title>

	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="/css/style.css">

	<!-- embedding FontAwesome Kit script -->
	<script src="https://kit.fontawesome.com/132524fe8d.js" crossorigin="anonymous"></script>
</head>

<body>
	<header class="header-area">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<nav class="main-nav">
					<!-- logo -->
					<a href="/" class="logo">
						<img src="/images/logo.png" alt="logo">
					</a>
					<!-- search bar -->
					<div class="search-input">
						<form id="search" action="#">
							<input type="text" placeholder="Type Something" id="searchText" name="searchKeyword">
							<i class="fa-solid fa-magnifying-glass"></i>
						</form>
					</div>
					<!-- menu bar -->
					<ul class="nav">
						<li>
							<a href="/">Home</a>
						</li>
						<li>
							<a href="/movie" class="active"> Film </a>
						</li>
						<li>
							<a href="/artist"> Artisti </a>
						</li>
						<li>
							<a href="#"> Recensioni </a>
						</li>
						<!-- login or go to profile logic --> <!--TODO: è disallineato con la row-->
						<li th:if="${userDetails}">
							<a href="/profile" th:text="${userDetails.username}">Profilo <img src="/images/profile-header-unlock.svg" alt=""></a>
						</li>
						<li th:unless="${userDetails}">
							<a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
						</li>

					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>

	<div>
		<a href="/admin/formNewMovie">Inserisci i dati di un film</a>
	</div>
	<div>
		<a href="/admin/manageMovies">Gestisci i film</a>
	</div>
	<div>
		<a href="/formSearchMovies">Cerca film per anno</a>
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						Copyright © 2023
						<a href="www.github.com/hermann0001">Hermann Tamilia</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
</body>

</html>