<footer th:fragment="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p>
          Copyright © 2023
          <a href="www.github.com/hermann0001">Hermann Tamilia</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<header class="header-area" th:fragment="header-home">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          <!-- search bar -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword">
              <i class="fa-solid fa-magnifying-glass"></i>
            </form>
          </div>
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/" class="active">Home</a>
            </li>
            <li>
              <a href="/movie"> Film </a>
            </li>
            <li>
              <a href="/artist"> Artisti </a>
            </li>
            <li>
              <a href="#"> Recensioni </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a href="/profile" th:text="${credentials.username}">profilo<img src="/images/profile-header-unlock.svg" alt=""></a>
            </li>
            <li th:unless="${userDetails}">
              <a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<header class="header-area" th:fragment="header-film">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          <!-- search bar -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword">
              <i class="fa-solid fa-magnifying-glass"></i>
            </form>
          </div>
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/movie" class="active"> Film </a>
            </li>
            <li>
              <a href="/artist"> Artisti </a>
            </li>
            <li>
              <a href="#"> Recensioni </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a href="/profile" th:text="${credentials.username}">profilo<img src="/images/profile-header-unlock.svg" alt=""></a>
            </li>
            <li th:unless="${userDetails}">
              <a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<header class="header-area" th:fragment="header-artist">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- logo -->
          <a href="/" class="logo">
            <img src="/images/logo.png" alt="logo">
          </a>
          <!-- search bar -->
          <div class="search-input">
            <form id="search" action="#">
              <input type="text" placeholder="Type Something" id="searchText" name="searchKeyword">
              <i class="fa-solid fa-magnifying-glass"></i>
            </form>
          </div>
          <!-- menu bar -->
          <ul class="nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li>
              <a href="/movie"> Film </a>
            </li>
            <li>
              <a href="/artist" class="active"> Artisti </a>
            </li>
            <li>
              <a href="#"> Recensioni </a>
            </li>
            <!-- login or go to profile logic -->
            <li th:if="${userDetails}">
              <a href="/profile" th:text="${credentials.username}">profilo<img src="/images/profile-header-unlock.svg" alt=""></a>
            </li>
            <li th:unless="${userDetails}">
              <a href="/login">Login <img src="/images/profile-header-lock.svg" alt=""></a>
            </li>

          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>