body {
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 30px;
	background: darkblue url(/images/bg.jpg) repeat;
}

.center {
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	border: 3px solid #2dc68d;
	padding: 10px;
	background-color: white;
	text-align: center;
	margin-top: 2%;
	padding-top: 20px;
	line-height: 1.8;
}

div #logo {
	display: flex;
	justify-content: center;
}

ul {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #9400D3;
}

a:visited {
	color: #9400D3;
}