<!DOCTYPE html>
<html lang="it">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
	<title>Registrati</title>

	<!-- Bootstrap core CSS -->
	<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

	<!-- Additional CSS Files -->
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	<!-- TODO: rivedere la validazione e il suo stile -->
	<div class="container px-3">
		<div class="form">
			<div class="row align-items-center">
				<div class="col-md-6">
					<a href="/"><img src="/images/logo-siw.png" alt=""/></a>
				</div>
				<div class="p4 col-md-6 border-left">
					<form th:action="@{/register}" method="POST">
						<h1>Registrati</h1>
						<div class="row">
							<div class="form-group col-sm-6">
								<label for="formName">Nome</label>
								<input type="text" placeholder="Mario" class="form-control" th:field="${user.name}" id="formName"/>
								<span class="mt-2" th:if="${#fields.hasErrors('user.name')}" th:errors="${user.name}" th:style="'color:red'"></span>
							</div>
							<div class="form-group col-sm-6">
								<label for="formSurname">Cognome</label>
								<input type="text" placeholder="Rossi" class="form-control" th:field="${user.surname}" id="formSurname"/>
								<span class="mt-1" th:if="${#fields.hasErrors('user.surname')}" th:errors="${user.surname}" th:style="'color:red'"></span>
							</div>
						</div>
						<div class="form-group my-4">
							<label for="formEmail">Email</label>
							<input type="email" placeholder="youremail@example.com" class="form-control" th:field="${user.email}" id="formEmail" />
							<span class="mt-1" th:if="${#fields.hasErrors('user.email')}" th:errors="${user.email}" th:style="'color:red'"></span>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
								<label>Username</label>
								<span><input type="text" placeholder="username" class="form-control" th:field="${credentials.username}" /></span>
								<span class="mt-1" th:if="${#fields.hasErrors('credentials.username')}" th:errors="${credentials.username}" th:style="'color:red'"></span>
							</div>
							<div class="form-group col-md-6 mb-3">
								<label>Password</label>
								<span><input type="password" placeholder="password" class="form-control" th:field="${credentials.password}" /></span>
								<span class="mt-1" th:if="${#fields.hasErrors('credentials.password')}" th:errors="${credentials.password}" th:style="'color:red'"></span>
							</div>
						</div>
						<div class="main-button py-3">
							<button type="submit">Registrati</button>
						</div>
						<div>
							<span class="form-text">Hai già un account? <a href="/login" th:text="Accedi">Accedi</a></span>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<p>
						Copyright © 2023
						<a href="www.github.com/hermann0001">Hermann Tamilia</a>
					</p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Bootstrap js -->
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>