<!DOCTYPE html>
<html>

<head>
	<title>
		SiwMovie - Login
	</title>
	<link rel="stylesheet" href="/css/styles.css" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="center">
		<a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
		<h1>Login</h1>
		<form th:action="@{/login}" method="POST">
				<div>
					<span>Username:</span>
					<span><input name="username" type="text" required /></span>
				</div>
				<div>
					<span>Password:</span>
					<span><input name="password" type="password" required /></span>
				</div>
				<div>
					<span th:if="${param.error != null}">Username o password errati</span>
				</div>
				<div>
					<span><button type="submit">Login</button></span>
				</div>
		</form>
		<div>
			<a th:href="@{/register}" th:text="Registrati">Registrati</a>
		</div>
	</div>
</body>

</html>