<!DOCTYPE html>
<html>

<head>
	<title>Artisti</title>
	<link rel="stylesheet" href="/css/styles.css" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div th:if="${userDetails}">
			<span th:text="${userDetails.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${user}">
			<a href="/login">Login</a>
		</div>
	</header>

	<div class="center">
		<a href="/static"><img src="/images/logo-siw.png" width="50%"/></a>
		<h1>Artisti</h1>
		<div th:if="${artists==null || artists.isEmpty()}">Non ci sono artisti nel sistema</div>
		<ul>
			<li th:each="artist : ${artists}">
				<a th:href="@{'/artist' + '/' + ${artist.id}}"
					th:text="${artist.name} + ' ' + ${artist.surname}">Dino Risi</a>
			</li>
		</ul>
	</div>
</body>

</html>